

/* Common commponents*/
.integridy-recommendation-datagrid>.ui-datagrid-content {
	border: none;
        vertical-align: top;
}		
.usermenubtn{
    border:none !important ;
    background: #ffffff !important;
}
.etsSelectItem{
    margin-top: 1%;
    margin-bottom: 1%;
    width:80% !important;
    border-radius: 2px !important;
}
.etsSelectItem .ui-state-focus{
    /*outline-color:#9b9b9b !important;*/
}
.ui-selectonemenu{
    /*outline-color: #9b9b9b !important;*/
}
.ui-selectonemenu-items .ui-state-highlight{
    background: #5EA928 !important;
}

.ets-download-header{
    font-weight: bold;
    font-size:13px;
}
.ets-download-btn{
    text-shadow:none !important;
    margin-left: 7px !important;
    margin-right: 7px !important;
    font-size:12px !important;
    font-weight: bold !important;
    padding:5px 10px 5px 10px !important;
    background: #26272D !important; 
    border-radius: 2px !important;
    color:#ffffff !important;
    border:none !important;
}
.ets-download-btn:hover{
    cursor: pointer;
    background: #1E1D21 !important;
}

.ets-download-btn:focus{
    outline:none !important;
}

.integridyDateSelectionPanel input{
    margin-top: 1%;
    width:85% !important;
}
.integridy-calendar input{
    border-radius: 2px !important;
}
.integridy-calendar:focus{
    /*outline-color: red !important;*/
}
.integridy-calendar-input{
    /*background: url(../resources/images/calendar-icon.png) no-repeat !important;*/
}
.ui-datepicker-current-day{
    background: #dbdbdb !important;
    color:#ffffff !important;
}
.ui-datepicker{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default{
    color:#1E1D21;
    background: none;
}

.ui-datepicker-prev-hover, .ui-datepicker-next-hover{
    text-shadow: none !important;
    outline: none !important;
    background:#dbdbdb !important;
}
.ui-datepicker td{
    color:#F4F4F4 !important;
}

.integridy-dashboard-panelgrid{
    background-color:#dbdbdb;
}
.integridy-notifications-panelgrid{
    background-color:#dbdbdb !important;
    border: none !important;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.integridy-alerts-panelgrid{
    background-color:#dbdbdb !important;
     color:#990000 !important;
    border: none !important;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.integridy-notifications-panelgrid>*>tr,
.integridy-notifications-panelgrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    vertical-align: top;
    background:none;
}
.integridy-alertlist-wrapper{
/*    margin-left: 1%;
    margin-right: 1%;*/
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    background-color:#ffffff;
    border-bottom:2px solid #dbdbdb;
    border-right:2px solid #dbdbdb;
    border-top:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
}
/* Datatables */
.integridy-datatable-wrapper{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color:#ffffff;    
    border-bottom:2px solid #dbdbdb;
    border-right:2px solid #dbdbdb;
    border-top:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
}
.integridy-datatable{
    margin-bottom:40px;
    margin-left:30px;
    margin-right:30px; 
}
.ui-datatable-tablewrapper{
    overflow-x:hidden !important;
}
.integridy-datable-header{
    margin:1%;
    font-size: 20px;
    font-weight: bold;
    color: #1E1D21;
}
.integridy-datatable .ui-datatable-even{
    background-color:#FFFFFF;
}
.integridy-datatable .ui-datatable-odd{
    background-color:#FFFFFF;
}
.integridy-datatable th {
    border:none !important;
    background:#FFFFFF !important;
}
.integridy-datatable tr td{
    border:none !important;
    padding-top:7px !important;
    padding-bottom:7px !important;
}
.integridy-datatable tr:hover{
    color:#FFFFFF !important;
    background:#5EA928;
    outline-color: #FFFFFF;
    box-shadow: none;
}
.integridy-datatable tbody{
    border: 2px solid #FFFFFF;
}
.integridy-datatable .ui-paginator-bottom{
    background:#FFFFFF;
    border:none;
}
.integridy-datatable .ui-paginator-page{
    background:#FFFFFF !important;
    border-radius:0px;
    border:none;
}
.integridy-datatable .ui-paginator-page{
    color:#ffffff !important;
    text-shadow:none !important;
    background:#1E1D21 !important;
    box-shadow: none !important;
    outline:none;
    border:none;
}
.integridy-datatable .ui-paginator-pages .ui-state-active{
    background: #5EA928 !important;
}
.ui-paginator-first,
.ui-paginator-prev,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-rpp-options{
    background:#FFFFFF !important;
    border:none !important;
}
.integridy-datatable .ui-datatable-footer{
    background:none;
    border:none;
    color:#a5a5a5;
    
.integridy-datatable .ui-datatable-header{
    background:none;
    border:none;
    color:#a5a5a5;
}
}
.integridy-datatable .ui-widget-overlay{
    background: white;
    opacity: 0.5;
}

.ui-widget-header{
        border: 1px solid #ffffff;
        background: #ffffff -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
}
.integridy-datatable .ui-paginator-bottom{
    margin-top:10px;
    margin-bottom:10px;
    float:right;
    border:none !important;
}
.integridy-datatable .ui-widget-content:first-child{
    border-top:2px solid #eeeeee !important;
}

.ui-widget-content{
    border-color: white;
}

.integridy-datatable .ui-state-highlight{
    background:#5EA928 !important;
    color:#ffffff !important;
    border:0px !important;
}
.integridy-datatable .ui-column-title{
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
    width: 1% !important;
}


* {
    box-sizing: content-box;
}


.ets-dashboard-alerts th {
    display: none;
}
.ets-dashboard-alerts tr td{
    border-radius: 3px !important;
    border-bottom:1px solid #dbdbdb !important;
    border-right:1px solid #dbdbdb !important;
    border-top:1px solid #e7e7e7 !important;
    border-left:1px solid #e7e7e7 !important;
    color: #990000;
    font-weight: bold;
}

.ets-dashboard-alerts table tr{
    margin-bottom:20px !important;
    margin-top:20px !important;
}
.ets-dashboard-alerts table{
    border-collapse: separate !important;
    border-spacing: 4px !important;
    *border-collapse: expression('separate', cellSpacing = '10px') !important;
}
.ets-dashboard-alerts .ui-widget-content .ui-datatable-even td, .ets-dashboard-alerts .ui-widget-content .ui-datatable-odd td{
    padding:10px 15px 10px 15px !important;
}
.ets-dashboard-alerts .ui-widget-content .ui-datatable-even td:hover, .ets-dashboard-alerts .ui-widget-content .ui-datatable-odd td:hover{
    background: #eaeaea !important;
    cursor: pointer;
}
.ets-dashboard-notifications th {
    display: none;
}
.ets-dashboard-notifications tr td{
    border-radius: 3px !important;
    border-bottom:1px solid #dbdbdb !important;
    border-right:1px solid #dbdbdb !important;
    border-top:1px solid #e7e7e7 !important;
    border-left:1px solid #e7e7e7 !important;
    color: #000099;
    font-weight: bold;
}

.ets-dashboard-notifications table tr{
    margin-bottom:20px !important;
    margin-top:20px !important;
}
.ets-dashboard-notifications table{
    border-collapse: separate !important;
    border-spacing: 4px !important;
    *border-collapse: expression('separate', cellSpacing = '10px') !important;
}
.ets-dashboard-notifications  .ui-widget-content .ui-datatable-even td, .ets-dashboard-alerts .ui-widget-content .ui-datatable-odd td{
    padding:10px 15px 10px 15px !important;
}
.ets-dashboard-notifications  .ui-widget-content .ui-datatable-even td:hover, .ets-dashboard-alerts .ui-widget-content .ui-datatable-odd td:hover{
    background: #eaeaea !important;
    cursor: pointer;
}


/* Dashboard components */
.integridyMainForm{
    margin:1% 1.5% 1% 1.5%;
}
.ets-dashboard-primary .ui-widget-content{
    border:0px !important;
    background: none !important;
}
.ets-dashboard-primary .ui-grid-row{
    background-color:#ffffff;
    border-bottom:2px solid #dbdbdb;
    border-right:2px solid #dbdbdb;
    border-top:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    border-radius: 3px !important;
    
}
.ets-dashboard-primary .ui-panelgrid-cell{
    padding:20px !important;
    text-align: center;
    
}
.dash-info{
    color:#1E1D21;
    font-weight: bolder;
    font-size: 30px !important;
}
.dash-info-description{
    font-size: 13px;
    color:#B7B7B7;
}
.dismissAlertIcon{
    padding:3px;
    border-radius: 3px;
}
.dismissAlertIcon:hover{
    cursor: pointer;
    color:#ffffff;
    background: #5EA928;
}

/* Charts components */
.integridy-chart-wrapper{
    width: 100% !important;
    background-color:#dbdbdb !important;
    border-bottom:0px solid #dbdbdb;
    border-right:0px solid #dbdbdb;
    border-top:0px solid #e7e7e7;
    border-left:0px solid #e7e7e7;
}
.integridy-chart-description{
    font-weight: bold;
    font-size:14px;
}
.integridy-chart-period{
    font-weight: bold;
    font-size: 11px;
    background: #ECECEC;
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
}
/*.ets-bar-chart .jqplot-axis{
    color:red;
    background: red;   
}*/

.integridy-chart-container{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color:#dbdbdb !important;
    border-bottom:0px solid #dbdbdb;
    border-right:0px solid #dbdbdb;
    border-top:0px solid #e7e7e7;
    border-left:0px solid #e7e7e7;
}
.integridy-chart{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.jqplot-data-label{
    color:#ffffff !important;
}

/*-----tabs---------------*/
.nav{
    background-color: white;
    border-color: white;
}

.div{
    border-bottom-color: white;
}

.tab-content{
    border: 1px solid #ffffff;
    background-color: white;
}

.nav-pills >li.active {
    border-bottom: 3px solid #5EA928;
}

/*-------buttons----------*/
.ui-button-text-icon-left .ui-button-text {
    padding: .3em 1em .3em 2.1em;
    background: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {    
    border: 1.5px solid #a8a8a8;
}

/*-------------others---------*/
.div :empty{
    display:none;
}
.span :empty{
    display:none;
}
p:panel{
    empty-cells: hide;
}
p:datatable{
    empty-cells: hide;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper{
     overflow: auto;
     width: 100%;
     padding-bottom: 5px;}

/*--------------dialog-------*/

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
        box-shadow: inset 0 2px 2px #ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #ffffff -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
   border: 1px solid #c4c4c4;
}

.ui-inputfield.ui-state-focus, ui-widget-content .ui-inputfield.ui-state-focus,
.ui-widget-header .ui-inputfield .uiinputfield.ui-state-focus{
    box-shadow: 0.5px 0.5px 0 #5EA928 ,inset 0.5px 0.5px 0.5px #5EA928 !important;
}

ui-state-hover, .ui-widget-content .ui-state-hover, .ui-idget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-
widget-header .ui-state-focus{
    box-shadow: none;

}

.notificationsDatePanel{
    background-color: transparent !important;
    border: none;
    padding: 0;

}